body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  color: #222831;
}

.appbody {
  background-color: #d1d1d1;
  padding: 30px;
  border: 3px solid #4f8a8b;
  border-radius: 20px;
  margin-top: 40px;
}

#city-search {
  width: 100%;
}

h1.city {
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
}

.current-time {
  font-style: italic;
  padding-left: 17px;
  margin: -15px;
  line-height: 0px;
}

.currently {
  font-style: italic;
  padding-left: 3px;
}

.conditionicon-top {
  font-size: 45px;
}
.hilo-top {
  text-align: right;
  margin-top: 20px;
}

.rain-top {
  text-align: right;
}

.forecast {
  width: 95%;
  margin-top: 10px;
  padding-top: 20px;
}

.forecastdate {
  font-style: italic;
}
